{% extends "::base.html.twig" %}


{% block body %}
<h2>Liste des équipes :</h2>
<a class="btn btn-primary" href="{{ path('teams_add') }}">Ajouter une équipe</a>
<table class="table table-striped table-bordered">
  <tr>
    <th>Nom</th>
    <th>Ville</th>
    <th>Actions</th>
  </tr>
  {% for t in teams %}
    <tr>
        <td>{{ t.name }}</td>
        <td>{{ t.city }}</td>
        <td>
          <a class="btn btn-warning btn-xs" href="{{ path('teams_edit', {'id' : t.id}) }}">Modifier</a>
          <a class="btn btn-danger btn-xs" href="{{ path('teams_delete', {'id' : t.id}) }}">Supprimer</a>
        </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
